/*全局样式*/
*{
    padding: 0;
    margin: 0;
}

/* 网页整体大小*/
.all{
    width:1040px;
    margin-left:-520px;
    position: absolute;
    left:50%;
    margin-bottom:60px;
    background:#fff;
    box-shadow: 0 0 50px rgba(172,172,172,1);
}










/* 版权 */
.bottom{
    whidth:200px;
    position:absolute;
    color:rgba(172,172,172,.9);
    font-size:14px;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    text-align: center;
}