/*全局样式*/
*{
	padding: 0;
	margin: 0;
}

/* 头栏 */
.ost{
	position:absolute;
	width:86%;
	z-index:1000;
	top:0;
	height:55px;
	padding:0 4% 0 10%;
	background: rgba(255,168,0,0.92);
}

.slogan,.login,.register{
	float:left;
	padding-top:14px;
	width:180px;
	height:41px;
}
.slogan{
	padding-top:4px;
	text-align:center;
}
.login{
	float:right;
	width:140px;
	border:none;
	padding-top:7px;
    border:1px solid #fac;
}
.login img{
	width:40px;
	height:40px;
	border-radius: 25px;
}
/* 鼠标滑过 login register 的样�? */
.login:hover{
	cursor: pointer;
}
.slogan a,.login a{
	text-decoration: none;
	font-size:18px;
}
.login span{
	position:absolute;
	width:90px;
    height: auto;
	margin-top:7px;
	margin-left:5px;
	text-overflow: ellipsis;/*文本超出提示三个�?*/
	white-space: nowrap;/*�?行显�?*/
	overflow: hidden;/*超出隐藏*/
	/* 	border:1px solid #fac; */
}
#deploy{
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    float: right;
    width:30px;
    opacity: .6;
    /*border:1px solid #fac;*/
}
#deploy:hover{
    background:rgba(131,111,191,.4);
}
#deploy img{
    width:30px;
}


/* 网页整体大小*/
.all{
	width:1040px;
	margin-left:-520px;
	position: absolute;
    z-index: 2;
    margin-bottom: 60px;
    padding-bottom: 60px;
	left:50%;
	background:#FFF;
	box-shadow: 0 0 50px rgba(172,172,172,1);
    /*border:1px solid #FAC;*/
}
.back-head img{
	width:100%;
	height:400px;
	opacity: 0.85;
	border-radius: 14px;
}


/* 图片上面�?  */
.search{
    position: relative;
	width:855px;
	height:200px;
	padding:120px 115px 0 70px;
	margin-top:-400px;
	background:linear-gradient( rgba(0,0,0,.8),rgba(231,238,254,0));
}
/* 文字 */
.heading{
	width:555px;
}
.heading h1,.heading h2{
	font:'SimSun',arial,tahoma,\5b8b\4f53,sans-serif;
	color: #fff;
	font-size: 38px;
}
/* ������ */
 .mySearch{
 	float:right;
 	width:300px;
 	height: 40px;
 	border:3px solid #fff;
 	background: rgba(231,238,254,.6);
 	font-size: 22px;
 	color:#000;
 	font-weight: 600;
 	cursor:text;
 }
/*  �Ŵ� */
 .mySearch-img{
	 -webkit-appearance: none;
 	float:right;
 	width:70px;
 	height: 40px;
 	border:3px solid #fff;
 	border-left: none;
 	cursor: pointer;
 	-webkit-appearance: none;
	 background:#fff url("../img/mySearch-img.png") no-repeat center;
	 background-size: 40px 40px;
 }
  
  
  
  
  
/* ������ */
.header{
	position:relative;
	z-index:10000;
	height:135px;
	margin-left:110px;
	margin-top:-5px;

	/*border:2px solid #FAC;*/
}
.index,.upload,.youlike,.box,.myself{
	float:left;
	border:1px solid rgba(172,172,172,.6);
	border-radius:10px;
	width:140px;
	height:135px;
	margin-right:25px;
	text-align:center;
	list-style-type: none;
	text-decoration:none;
	cursor:pointer;
	background:#fff  url("../img/nav (2).gif") no-repeat;
	background-size: 120px 120px;
	background-position: center center;
}

.upload{
	background:#fff  url("../img/nav (2).png") no-repeat;
	background-size: 120px 120px;
	background-position: center center;
}
.youlike{
	background:#fff url("../img/nav (1).gif") no-repeat;
	background-size: 120px 120px;
	background-position: center center;
}
.box{
	background:#fff  url("../img/nav (1).png") no-repeat;
	background-size: 120px 120px;
	background-position: center center;
}
.myself{
	background:#fff  url("../img/nav (3).gif") no-repeat;
	background-size: 120px 120px;
	background-position: center center;
}
.index a,.upload a,.youlike a,.box a,.myself a{
	display:block;
	width:140px;
	height:80px;
	padding:55px 0 0 0;
	border-radius:8px;
	text-decoration:none;
	color: #000;
	font-size:22px;
	background:rgba(255,255,255,.6);
	opacity: 0;
	/* 	border:1px solid #FAC; */
}
.index a:hover,.upload a:hover,.youlike a:hover,.box a:hover,.myself a:hover{
	opacity: 1;
}
.index:hover,.upload:hover,.youlike:hover,.box:hover,.myself:hover{
	/* 	border:3px solid rgba(131,111,191,1); */
	/* 	box-shadow:-10px 10px 10px rgba(0,0,0,.5) inset; */
}

/* 分类 */
/* 整个分类栏的样式 */
.species{
	margin-top:40px;
	margin-left:30px;
	width:160px;
	border-radius:10px;
	border:2px solid rgba(131,111,191,.5);

	/*border:1px solid #FAC;*/
}


/* 分类栏的li */
.species li{
	list-style-type: none;
	text-align:center;
	background: #FFF;
}
.species p{
	padding-top:15px;
}
.Ispecies{
	border-bottom:2px solid rgba(172,172,172,.5);
}
/* 第一个li */
.OtherIspecies{
	border-radius:10px 10px 0 0;
	border-bottom:2px solid rgba(172,172,172,.5);
}
/* �?后一个li */
.OtherIspecies1{
	padding-top:15px;
	border-radius: 0 0 8px 8px;
	padding-bottom:4px;
	border-bottom:0;
}
/* 每个li的字 */
.species p{height:35px;}
/* li滑过样式 */
.Ispecies:hover{
	background:rgba(166,128,226,.5);
	cursor: pointer;
}
/* li滑过样式 下拉子框显示*/
.Ispecies:hover .g-username{
	display:block;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	autofocus:autofocus;
}
.Ispecies:hover .g-username input{
	display:block;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	autofocus:autofocus;
}

/* li下拉子框显示 */
.g-username {
	position:absolute;
	height:100px;
	width:200px;
	margin-top:-50px;
	margin-left:160px;
	list-style-type: none;
	text-align:center;
	background: #FFF;
	display:none;
	border-radius:0 10px 10px 10px;
	border:2px solid rgba(131,111,191,.5);
}
/* 标签子框大小 */
.Other-gggg{
	height:130px;
	width:400px;
}
/*含复选框和文字div */
#myBox{
	float:left;
	width:105px;
	height: 30px;
	margin-top:10px;
	/* 	border:1px solid #FAC;  */
}
/* span内的文字 */
#myText{
	font-size:14px;
	width:78px;
	height:23.5px;
	padding-top:4.5px;
	position:absolute;
	text-align:center;
	border:#999 solid 1px;
	border-radius: 4px;
}
/* 选择�? */
.myCheckBox{
	position:absolute;
	/* 	除去原生样式 */
	-webkit-appearance: none;
	outline: none;
	margin-left: 52px;
	background:rgba(1,1,1,0);
	border:#999 solid 1px;
	border-radius: 3px;
	opacity:0;
	/*===========================================设置复�?�框大小 */
	min-height: 30px;
	min-width: 80px;
	border-radius: 4px;
}
/* 复�?�框选中时样�? */
.myCheckBox:checked {
	background:rgba(166,128,226,1);
	opacity:.5;
	border:#3190e8 solid 1px;
	border-radius: 4px;
}
/* “对”符�? 选中符号 */
.myCheckBox:checked::after{
	content: '';
	top: 14px;
	left: 62px;
	position: absolute;
	background: transparent;
	border: #fff solid 2px;
	border-top: none;
	border-right: none;
	height: 6px;
	width: 10px;
	/*     勾股定理 */
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* 价格 */
#OthermyText{
	font-size:14px;
	width:78px;
	height:23.5px;
}
#price1,#price2{
	appearance: none;float:left;
	width:60px;
	height: 30px;
	font-size: 18px;
	margin-left:105px;
	margin-top:-20px;
	border-radius: 4px;
	border-color:rgba(251,206,177,0.5);
	border: 1px solid #ddd;
}
#Ispeciesbutton{
	display:inline-block;
	width:100px;
	height: 40px;
	background:rgb(249,249,248);
	margin-top:-10px;
	border-radius: 4px;
	font-size:16px;
	border: 1px solid #ddd;
}
#Ispeciesbutton:hover{
	background:rgba(166,128,226,.5);
}

/* 轮播�? */
.frame{
	margin-left: 238px;
	margin-top: -418px;
	width:700px;
	height:360px;
	border-radius:10px;
	overflow: hidden;
	border:2px solid rgba(166,128,226,.5);
}
.play{
	width:2800px;
	height:360px;
	animation:ma 35s infinite;
}

.play img{
	float:left;
	width:700px;
	height:360px;

}
@keyframes ma{
	0%,14%{margin-left:0px;}
	18%,28%{margin-left:-700px;}
	32%,42%{margin-left:-1400px;}
	46%,56%{margin-left:-2100px;}
	60%,70%{margin-left:-1400px;}
	74%,84%{margin-left:-700px;}
	88%,100%{margin-left:0px;}
}


.main{
	width:720px;
    height: auto;
	margin-right:80px;
	margin-left:240px;
	padding-bottom:60px;
	/*border:1px solid #FAC;*/
}

/* 商品 */
.goods{
	float:left;
	width:200px;
	height:280px;
	/* 	border-radius:15px; */
	background:#fff;
	margin:15px;
	overflow:hidden;
	border:2px solid rgba(166,128,226,.5);
	cursor: pointer;
}
.goods:hover{
	margin-top:10px;
	/* 	border-radius:15px; */
	margin-bottom:20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.4);
	border:2px solid rgba(166,128,226,.8);
}
.imgSee{
	/* 	display:table-cell; */
	width:200px;
	height:200px;
	overflow:hidden;
	text-align:center;
	border:1px solid #FAC;
	background:#fac;
	vertical-align: middle;
}
.goods img{
	width:200px;
	height:200px;
	border-bottom: 1.5px solid rgba(166,128,226,.5);
}
.myH{
	width:200px;
	margin-top:15px;
	text-align:center;
	/* 	border-bottom:1px solid rgba(166,128,226,.5); */
}
.price{
	color:red;
	text-align:center;
	/* 	border-bottom:1px solid rgba(166,128,226,.5); */
}


#test{
	z-index:100000000;
	position:fixed;
	right:30px;
	bottom:50px;
	height:70px;
	width:70px;
	border:none;
	border-radius: 35px;
    border:1px solid #000;
    opacity: .4;
	display: none;
}
#test img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
/* 版权 */
.bottom{
	whidth:200px;
	color:rgba(172,172,172,.9);
	font-size:14px;
    position: absolute;
	left:50%;
	margin-left:-100px;
    z-index: 3;
    bottom: 10px;
	text-align: center;
	/*border:1px solid #FAC;*/
}