
/*全局样式*/
*{
	padding: 0;
	margin: 0;
}

/* 网页整体大小*/
.all{
	width:100%;
	/*height:615px;*/
	height:103%;
	position: absolute;
	overflow-x: hidden;
	background:rgb(249,249,248); 
	/*条纹 */
	/* background: linear-gradient(
		135deg,
		rgb(255,255,255) 25%,
		rgb(77,189,253) 25%,
		rgb(77,189,253) 50%,
		rgb(255,255,255) 50%,
		rgb(255,255,255) 75%,
		rgb(77,189,253) 75%
	);  */
}
/*整个main（图片和登录框）*/
.form-div{
	position:absolute;
	width:860px;
	height:355px;
	left:50%;
	margin-top:100px;
	margin-left:-430px;
}

/* 标题登录 */
.form-div h2{
	width:600px;
	text-align:center;
	font:2em Georgia, serif;/* 字体为斜体的Georgia或者serif */
}
/* username等 */
.form p{
	font-size:18px;
	margin-left:25px;
}
/* 登录框 */
.form {
	position:absolute;
	width:600px;
	height:450px;
	left:50%;
	margin-left:-300px;
	background: rgb(249,249,247);
	border-radius: 4px;
	/*原始边框 */
	border: 1px solid #eee;
    transition: all .4s;
}
/* 所有input元素外套着的div */
.g-username {
	float:left;
    padding :15px;
    transition: 0.4s;
/*     border: 1px solid #fac; */
}
.Other-g{
	width:500px;
}
/* 所有输入框 */
#username,#password,#login,#register,#nickname,#Cpassword,#email{
	width:220px;
	height: 30px;
	font-size: 18px;
	margin-left:25px;
	margin-top:-10px;
	border-radius: 4px;
	border-color:rgba(251,206,177,0.5);
	
    border: 1px solid #ddd;
    overflow: hidden;
    transition: 0.4s;
    &:focus {
        border-color: hsl(199, 98%, 48%);
    }
}
#email{
	width:500px;
}
/* 按钮 */
#login,#register{
	display:inline-block;
	width:100px;
	height: 40px;
	background: rgb(255,255,255);
	margin-top:12px;
}
#login{
	margin-left:147px;
}
#register{
	background: rgb(14,143,251);
}



.form:focus-within {
    transform: translateY(-3px);
	/*阴影 */
    box-shadow: 0 0 10px rgba(172,172,172,.8);
    border-color: hsl(199, 98%, 48%);
}
/* 提示语 */
#Item{
	position:absolute;
	/* width:600px;
	height:400px; */
/* 	margin-top:260px; */
	margin-left:130px;
/* 	border: 1px solid #fac; */
}
#passwordItem,#passwordItem1,#passwordItem2,#passwordItem3,#passwordItem4,#passwordItem5{
	position:absolute;
	width:240px;
	height: 15px;
	opacity:.75;
	font-size:12px;
	padding:6px;
	color:red;
	margin-top:220px;
	margin-left:310px;
	display: none;
/* 	border: 1px solid #fac; */
}
#passwordItem1{
	margin-top:370px;
	margin-left:433px;
}
#passwordItem2{
	margin-top:320px;
	margin-left:33px;
}
#passwordItem3{
	margin-top:220px;
	margin-left:33px;
}
#passwordItem4{
	margin-top:120px;
	margin-left:33px;
}
#passwordItem5{
	margin-top:120px;
	margin-left:310px;
}
/* 版权 */
.bottom{
	whidth:200px;
	position:absolute;
	color:rgba(172,172,172,.9);
	font-size:14px;
	left:50%;
	margin-left:-100px;
	bottom:10px;
	text-align: center;
}